{
  "MC_TENANT_ID": "<your-azure-ad-tenant-id>",
  "MC_CLIENT_ID": "<your-client-id>",
  "MC_CLIENT_SECRET": "<your-client-secret>",
  "MC_PARTNER_ID": "<your-partner-id>",
  "MC_ENVIRONMENT": "Sandbox",
  "MC_PRODUCTID": "<your-product-id>",
  "MC_REGIONID": "<your-region-id>"
}
