MC_TENANT_ID=<your-azure-ad-tenant-id>
MC_CLIENT_ID=<your-client-id>
MC_CLIENT_SECRET=<your-client-secret>
MC_PARTNER_ID=<your-partner-id>
MC_BASE_URL=https://api.sandbox.missioncontrol.io
MC_SCOPE=api://<app-id>/.default
MC_PRODUCT_ID=<your-product-id>
MC_REGION_ID=<your-region-id>
MC_PUBLISHER_ID=<your-publisher-id>
